In [1]:
import pandas as pd

In [2]:
df_b = pd.read_csv('banzuke.csv')
df_b

,Unnamed: 0,basho,id,sumo_rank,rikishi,heya,shusshin,birth_date,height,weight,prev_year,prev_win,prev_lose
0,0,0,1339,988,520,27,22,48,140,425,989,14,1
1,1,0,2792,990,2213,32,22,27,111,907,994,9,3
2,2,0,2796,993,5605,10,3,26,179,595,991,0,0
3,3,0,2802,769,4673,10,3,18,130,705,770,10,5
4,4,0,2806,770,2523,53,38,88,149,889,771,10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
174180,174180,236,5181,462,3734,11,22,4156,111,625,769,2,1
174181,174181,236,5220,463,3989,16,55,4246,12,73,769,1,2
174182,174182,236,676,464,1694,56,26,2109,101,655,491,0,2
174183,174183,236,2762,465,1304,25,36,3088,43,395,599,0,7
174184,174184,236,4989,466,1152,51,15,4013,91,615,769,0,3

In [3]:
#df_b = df_b.drop(['Unnamed: 0'] , axis=1)

In [4]:
df_r = pd.read_csv('result.csv')
df_r

,Unnamed: 0,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_win,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_win,year_basho,month_basho,day_basho,id,rank,rikishi,height_cm,weight_kg,prev_rank,prev_w,prev_l
0,0,4122.0,8,139,0.0,4131.0,7,246,1.0,1970,1,1,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0
1,1,4131.0,7,246,1.0,4122.0,8,139,0.0,1970,1,1,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0
2,2,1348.0,6,90,0.0,4124.0,5,199,1.0,1970,1,1,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0
3,3,4124.0,5,199,1.0,1348.0,6,90,0.0,1970,1,1,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0
4,4,1334.0,3,276,1.0,4118.0,4,7,0.0,1970,1,1,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0,125368.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16891,16891,0.0,0,0,0.0,0.0,0,0,0.0,1970,1,1,11786.0,12.0,12.0,191.0,188.0,53.0,4.0,11.0
16892,16892,0.0,0,0,0.0,0.0,0,0,0.0,1970,1,1,12113.0,13.0,265.0,182.0,191.0,2.0,9.0,6.0
16893,16893,0.0,0,0,0.0,0.0,0,0,0.0,1970,1,1,7153.0,14.0,126.0,177.0,131.0,51.0,3.0,12.0
16894,16894,0.0,0,0,0.0,0.0,0,0,0.0,1970,1,1,6753.0,15.0,100.0,195.0,192.0,36.0,7.0,8.0
16895,16895,0.0,0,0,0.0,0.0,0,0,0.0,1970,1,1,12453.0,16.0,173.0,191.0,170.0,14.0,11.0,4.0

In [5]:
#df_r = df_r.drop(['rikishi1_shikona' ,'kimarite' , 'rikishi2_shikona'] , axis=1)

In [6]:

result = pd.concat([df_r , df_b], axis=0 , ignore_index=True)
result

,Unnamed: 0,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_win,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_win,year_basho,...,basho,sumo_rank,heya,shusshin,birth_date,height,weight,prev_year,prev_win,prev_lose
0,0,4122.0,8.0,139.0,0.0,4131.0,7.0,246.0,1.0,1970.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4131.0,7.0,246.0,1.0,4122.0,8.0,139.0,0.0,1970.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1348.0,6.0,90.0,0.0,4124.0,5.0,199.0,1.0,1970.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4124.0,5.0,199.0,1.0,1348.0,6.0,90.0,0.0,1970.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1334.0,3.0,276.0,1.0,4118.0,4.0,7.0,0.0,1970.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191076,174180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,462.0,11.0,22.0,4156.0,111.0,625.0,769.0,2.0,1.0
191077,174181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,463.0,16.0,55.0,4246.0,12.0,73.0,769.0,1.0,2.0
191078,174182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,464.0,56.0,26.0,2109.0,101.0,655.0,491.0,0.0,2.0
191079,174183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,465.0,25.0,36.0,3088.0,43.0,395.0,599.0,0.0,7.0
191080,174184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,466.0,51.0,15.0,4013.0,91.0,615.0,769.0,0.0,3.0

In [7]:
import numpy as np
df = result.replace(np.nan, 0) 
result = df.fillna(value=result , method=None , axis='index' , limit=None) 
#df = result.dropna(axis=0)

In [8]:
df

,Unnamed: 0,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_win,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_win,year_basho,...,basho,sumo_rank,heya,shusshin,birth_date,height,weight,prev_year,prev_win,prev_lose
0,0,4122.0,8.0,139.0,0.0,4131.0,7.0,246.0,1.0,1970.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4131.0,7.0,246.0,1.0,4122.0,8.0,139.0,0.0,1970.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1348.0,6.0,90.0,0.0,4124.0,5.0,199.0,1.0,1970.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,4124.0,5.0,199.0,1.0,1348.0,6.0,90.0,0.0,1970.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1334.0,3.0,276.0,1.0,4118.0,4.0,7.0,0.0,1970.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191076,174180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,236.0,462.0,11.0,22.0,4156.0,111.0,625.0,769.0,2.0,1.0
191077,174181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,236.0,463.0,16.0,55.0,4246.0,12.0,73.0,769.0,1.0,2.0
191078,174182,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,236.0,464.0,56.0,26.0,2109.0,101.0,655.0,491.0,0.0,2.0
191079,174183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,236.0,465.0,25.0,36.0,3088.0,43.0,395.0,599.0,0.0,7.0
191080,174184,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,236.0,466.0,51.0,15.0,4013.0,91.0,615.0,769.0,0.0,3.0

In [9]:
df.to_csv('concat_2_dataset.csv')

: